:root {
  --turquoise: #2de1c2ff;
  --medium-turquoise: #6ad5cbff;
  --green-sheen: #7fbeabff;
  --morning-blue: #7e998aff;
  --battleship-grey: #85877cff;
}

body {
  font-family: "Roboto", sans-serif;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
}
